  /* General Styles */
  :root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --light-color: #ecf0f1;
    --dark-color: #212121;
    --accent-color: #3498db;
    --font-family: 'Roboto', sans-serif;
  }


/* Navbar styles */
.navbar {
  background-color: #2c3e50;
}

.nav-brand img {
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(259deg) brightness(114%) contrast(99%); /* Updated filter for dark theme logo */
}

.nav-links a {
  color:beige;
}

.nav-links a:hover {
  color: #3498db;
}


#themeToggleBtn {
  background-color: #333;
  color: #fff; 
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#themeToggleBtn:hover {
  background-color: #555;
  transform: translateY(-2px);
}


/* Hero section styles */
.hero {
  background-image: linear-gradient(135deg, #13293d, #1b3e57); /* Cool blue gradient */
  background-size: 400% 400%; /* Increased gradient size for a smoother transition */
  animation: gradientAnimation 10s ease infinite; /* Added a gradient animation */
}

.hero-background {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 100%); /* Semi-transparent black background */
}

.hero-content {
  background-color: rgba(26, 26, 26, 0.8);
}


.typewriter h1, h3 {
  color:beige;
}


/* About Section */
.about-section {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
}

.section-title {
color: #e0e0e0;
}

.about-text p {
  color: #e0e0e0;
  }


/* Hole styles */

#hole {
  box-shadow: inset 0 0 20px rgba(224, 224, 224, 0.2);
}

.circle1 {
  background: radial-gradient(100% 100% at 50% 50%,rgba(255, 255, 255, 0.2) 0%,rgba(209, 209, 209, 0.2) 20%,rgba(128, 128, 128, 0.2) 45%,rgba(18, 18, 18, 1) 88%,rgba(0, 0, 0, 1) 100%);
}

.circle2 {
  background: radial-gradient(100% 100% at 50% 50%,rgba(255, 255, 255, 0.2) 0%,rgba(209, 209, 209, 0.2) 20%,rgba(128, 128, 128, 0.2) 45%,rgba(18, 18, 18, 1) 88%,rgba(0, 0, 0, 1) 100%);
}


/* button */

.btn {
  background-color: #00bfff;
  color: #1a1a1a;
}

.btn:hover {
  background-color: #0093c4; 
  color: #e0e0e0; 
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
      background-color: #081227;
  }
}




/* Education Section */
.education-section {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
}


.education-item {
background-color: #2c2c2c;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.education-details h3 {
color: #e0e0e0;
}

.education-details p {
color: #e0e0e0;
}


/* Skills Section */
.skills-section {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.skill-item {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.skill-item::before {
  background-color: rgba(0, 191, 255, 0.2);
}

.skill-item h3 {
  color: #e0e0e0;
}

.category-btn {
  color: beige;
}


/* Skill Description Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.close {
  color: #808080;
}

.close:hover {
  color: #e0e0e0;
}

.modal-title,
.modal-description {
  color: #e0e0e0;
}





/* Work Experience Section */
.work-section {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.work-item {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.work-item::before {
  background-color: rgba(0, 191, 255, 0.2);
}

.work-item h3,
.work-item p {
  color: #e0e0e0;
}

.work-description {
  color: #e0e0e0;
}

.work-details {
  background-color: rgba(43, 48, 49, 0.2);
}

.work-description {
  background-color: rgba(43, 48, 49, 0.2);
  color: white;
}

.work-details .company {
  color: white;
}

.work-details .duration {
  color: white;
}

.work-details h3 {
  color: beige;
}



/* Projects Section */
.projects-section {
  padding: 100px 0;
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.project-item {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.project-item p {
  color: #e0e0e0;margin-bottom: 10px;
  }

.filter-btn {
  background-color: #00bfff;
  color: #1a1a1a;
}

.filter-dropdown-content {
  background-color: #2c2c2c;
}

.filter-dropdown-content a {
  color: #e0e0e0;
}

.search-container input {
  background-color: #404040;
  color: #e0e0e0;
  border: none;
}





/* Contact Section */
.contact-section {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom right, #1a1a1a, #2c2c2c);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

.contact-item {
  background-color: #2c2c2c;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.contact-item p,
.contact-item a {
  color: #e0e0e0;
}



/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Footer */

footer {
  background-color: #2c3e50;
  color: #e0e0e0;
}


.social-links a {
  color: #e0e0e0;

}

.social-links a:hover {
  color: #e0e0e0; 
}

